.container{
    border:1px solid var(--gray);
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    outline: none;
}

.container:focus{
    border:1px solid var(--primary);
}

