.container{
    border: none;
    padding: 7px 30px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-align:center;
}
.contained{
    background-color: var(--primary);
}
.container.contained:hover{
    background-color: white;
    border: 2px solid var(--primary);
    color:var(--primary)
    
}