.container{
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    padding: 20px;
  
  }
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
  }